body {
  font-family: "Inter", Arial, sans-serif;
  scrollbar-width: none;
}


.app {
  display: flex;
  justify-content: center;
  align-items: center;
}


.app > * {
  transition: all 0.3s ease-in-out;
}


p, h2 {
  text-align: center;
}


h2 
{
  margin-top: 24px;
}

/*----search page----*/


.search-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.input-icon {
  font-size: 108px;
    margin-bottom: -2px;
}


input[type="text"] {
  padding: 5px 31px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 26px;
  outline: none;
  text-align: center;
  position: relative;
  top: 3.8px;
  right: -0.5px;
}


.followers-info {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 17px;
}


img {
  display: block;
  max-width: 36%;
  border-radius: 50%;
  margin-top: 80px;
}


.img {
  text-align: center;
  display: flex;
  justify-content: center;
}


.projects {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #6B308B;
}


.repo-header {
  font-size: 24px;
  font-weight: 500;
  margin-top: 43px;
  margin-bottom: 30px;
}


li {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}


.description {
  text-align: left;
}


.last-updated {
    position: absolute;
    top: 13px;
    right: 14px;
}


.github-link {
    text-decoration: none;
    background-color: #6B308B;
    border-radius: 21px;
    padding: 9px;
    color: #fff;
}


.user-container {
width: 750px;
}


.grid {
  display: grid;
  place-items: center;
}


.text-border {
  display: grid;
  place-items: center;
  margin-top: 40px;
  width: 324px;
  height: 50px;
  background: linear-gradient(
    60deg, 
    #6e5494, 
    #1b1f23, 
    #2ea043,
    #0075ca,
    #6e5494   
  );
  background-size: 500% 100%; /* Adjusted background size */
  border-radius: 200px;
  animation: spin 25s linear infinite;
}


@keyframes spin {
  0% {
      background-position: 0% 0%;
  }
  100% {
      background-position: 100% 0%; /* Adjusted background position */
  }
}

